/* here you can put your own css to customize and override the theme */
.page-header.navbar{
	background-color: #FFFFFF;
}
.page-header.navbar .menu-toggler > span, .page-header.navbar .menu-toggler > span::after, .page-header.navbar .menu-toggler > span::before, .page-header.navbar .menu-toggler > span:hover, .page-header.navbar .menu-toggler > span:hover::after, .page-header.navbar .menu-toggler > span:hover::before{
	background-color: #2b3643;
}