/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2017, 10:12:10 AM
    Author     : alex
*/
.cropHeaderWrapper{
	overflow:hidden;
	height: 650px;
}
.croppic_imgUploadForm{
	margin-top: -20px;
}
	label {
		color: #67809F;
		font-weight: 900;
		margin: 0px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	#dates{
		width: 81%;
		margin-left: 5%;
	}
	#list{
		margin-left: 4%;
	}
	.blue-hoki{
		font-weight: 600;
	}
	.accounts{
		margin: 2px;
	}
	#event_table li a, #event_table li a:focus, #event_table li a:hover {
		background-color: white;
		border: 3px #67809F solid;
		color: #67809F;
		font-weight: 600;
		font-size: 16px;
		border-radius: 0;
	}
	#event_table li.active a{
		background-color: #67809F;
		border: 3px #67809F solid;
		color: white;
		font-weight: 900;
		font-size: 16px;
		border-radius: 0;
	}